html { background-color: lightcyan }


#mainBox {
    position: fixed;
    left: 50%;
    /*transform: translateX(-50%);*/
}

#titleBox {
    position: fixed;
    top: 123px;
    /*left: 614px;*/
    /*
    left: 50%;
    transform: translate(-50%);*/
    transform: translateX(-50%);
    width: 372px;
    height: 44px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    font-size: 24px;
}



#joinBox {
    position: fixed;
    top: 167px;
    /*left: 614px;*/
    /*left: 50%;
    transform: translate(-50%);*/

    width: 372px;
    height: 450px;
    /*padding: 20px 20px 20px 20px;*/
    background-color: white;
}

#newAge, #newId, #newName, #newPW {
    position: fixed;
    /*left: 699px;*/
    /*left: 50%;
    transform: translate(-50%);*/
    transform: translateX(-50%);
    width: 206px;
    height: 32px;
    background-color: azure;
}
#newName {
    position: fixed;

    top: 264px;
}
#newAge {
    position: fixed;
    top: 304px;
}
#newId {
    position: fixed;
    top: 344px;
}
#newPW {
    position: fixed;
    top: 384px;
}

#joinBtn {
    position: fixed;
    /*left: 738px;*/
    /*
    left: 50%;
    transform: translate(-50%);*/
    transform: translateX(-50%);
    top: 464px;
    width: 129px;
    height: 46px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
}

