<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>수강신청</title>
    <link rel="stylesheet" href="enrolmentStyle.css" >
</head>
<body>
    <div>
        <div>

            <span id="semiBox_1">
                <span><img id="imageD" src = "D.png" alt="D"></span>
                <span id="semiTitle">DoubleS 대학교 수강신청</span> <!--상하정렬-->
            </span>
            <span id="semiBox_2">
                이름<input id ="userName" value="승현">
                학년<input id ="userGrade" value="4">
                학번<input id ="userNum" value="201501652">
            </span>


        </div>

        <div>

        </div>
        <div>

        </div>
    </div>
</body>
</html>