<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="memberJoinStyle.css" >
</head>
<body>
<div id = "titleBox">
    회원가입
</div>
<div id="joinBox">
    <input id="newName" type="text">이름</input><br>
    <input id="newAge" type="number">나이</input><br>
    <input id="newId" type="text">ID</input><br>
    <input id="newPW" type="text">PW</input><br>

    <button id="joinBtn" type="button">회원가입하기</button>
</div>


</body>

<script>

    $("#joinBtn").click(function () {
        $.ajax({
            type : 'POST',
            uri : 'memberJoin',
            data : {
                'name' : $("#newName").val(),   // 받는부분 변수이름과 같아야 한다
                'age' : $("#newAge").val(),
                'id' : $("#newId").val(),
                'password' : $("#newPW").val()
            },
            success : function (res){
                console.log(res);
            },
            error : function(error){
                console.log(error);
            }
        })
    });





</script>

</html>